<p>Juegos aqui!</p>
<div>
  {{title}}
</div>
<div>
  {{#each games}}
  <div>
    <a href="/games/{{this.id}}">{{this.title}}</a>
  </div>
  {{/each}}
</div>
<hr>
<div>
  <a href="/flash">Flash!</a>
  <a href="/no-flash">No Flash!</a>
  {{#if flash.info}}
    <p>{{flash.info}}</p>
  {{/if}}
</div>
<div>

  {{#if flash.error}}
    <p>{{flash.error}}</p>
  {{/if}}
</div>
