  <div class="ui container  segment">
    <div class="ui three stackable cards">
      {{#each games}}
      <div class="ui red card">
    <div class="content">
      <div class="header">{{this.title}}</div>
    </div>
    <div class="content">
      <h4 class="ui sub header">this.author</h4>
      <div class="ui small feed">
        <div class="event">
          <div class="content">
            <div class="summary">
               {{this.body}}
            </div>
          </div>
        </div>
        <div class="event">
          <div class="content">
            <div class="summary">
               <a>Stevie Feliciano</a> was added as an <a>Administrator</a>
            </div>
          </div>
        </div>
        <div class="event">
          <div class="content">
            <div class="summary">
               <a>Helen Troy</a> added two pictures
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="extra content">
      <button class="ui button"> <a href="/games/{{this.id}}">Go to interview</a> </button>
    </div>
    </div>
      {{/each}}
    </div>
  </div>






<hr>
<div>
  <a href="/flash">Flash!</a>
  <a href="/no-flash">No Flash!</a>
  {{#if flash.info}}
    <p>{{flash.info}}</p>
  {{/if}}
</div>
<div>

  {{#if flash.error}}
    <p>{{flash.error}}</p>
  {{/if}}
</div>
